---
whiskers:
  version: "^2.6.1"
  matrix:
    - flavor
    - accent
  filename: "themes/{{ flavor.identifier }}/{{ flavor.identifier }}-{{ accent }}.h"
---
{%- set palette = flavor.colors -%}
static const char *colors[SchemeLast][2] = {
	/*     fg         bg       */
	[SchemeNorm] = { "#{{ palette.text.hex }}", "#{{ palette.base.hex }}" },
	[SchemeSel] = { "#{{ palette.base.hex }}", "#{{ palette[accent].hex }}" },
	[SchemeOut] = { "#{{ palette.text.hex }}", "#{{ palette[accent].hex }}" },
};
