---
whiskers:
  version: 2.0.0
  matrix:
    - flavor
  filename: "themes/{{ flavor.identifier }}.h"
---
{%- set palette = flavor.colors -%}
static const char *colors[SchemeLast][2] = {
	/*     fg         bg       */
	[SchemeNorm] = { "#{{ palette.text.hex }}", "#{{ palette.base.hex }}" },
	[SchemeSel] = { "#{{ palette.base.hex }}", "#{{ palette.sky.hex }}" },
	[SchemeOut] = { "#000000", "#{{ palette.sky.hex }}" },
};

